@font-face {
  font-family: 'NoitaPixel';
  src: url("../public/fonts/NoitaPixel.ttf");
}

@font-face {
  font-family: 'NoitaGlyph';
  src: url("../public/fonts/NoitaGlyphScaled.ttf");
}

@font-face {
  font-family: 'NoitaSmallNumbers';
  src: url("../public/fonts/Font Small Numbers.ttf");
}

@font-face {
  font-family: 'NoitaBlackletter';
  src: url("../public/fonts/NoitaBlackletter-Regular.ttf");
}

:root {
  font-family: "NoitaPixel", sans-serif !important;
}

.text-primary {
  color: #f4f4f4;
}

.text-secondary {
  color: #FFFFFF80;
}

.text-danger {
  color: #d55456;
}

.text-success {
  color: #88bc1c;
}

.text-halo {
  color: #FFDE17;
}

.text-halo-dark{
  color: #FF2F17;
}

.text-xl {
  font-size: 20px;
}

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: transparent;
  color: white;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.ts-particles-wrapper{
  height: 100%;
}

.font-noita-small-numbers {
  font-family: 'NoitaSmallNumbers', sans-serif !important;
}

.hover-container{}

.hover-container:hover .hover-display, .hover-hide { visibility: initial }
.hover-display, .hover-container:hover .hover-hide { visibility: hidden }

.pixelated{
    image-rendering: pixelated;
}