.custom-death-marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

  position: relative;
  top: -2px;
  left: -2px;
}

.custom-marker-container {
  border: none;
  background: none;
}