.container{}

.container a {
    text-decoration: none;
}
.container:hover a {
    text-decoration: underline;
}

.grid-main{
    --border-width: 8px;
    --corner-width: 4px;

    --background-color: #00000099;
    --border-bottom-color: #00000099;
    --border-bright-color: #696357;
    --border-dark-color: #696357;

    display: grid;
    grid-template-columns: var(--border-width) auto var(--border-width);
    grid-template-rows: var(--border-width) auto var(--corner-width);
}

.container:hover .grid-main {
    --background-color: #00000099;
    --border-bottom-color: #00000099;
    --border-bright-color: #A59D8F;
    --border-dark-color: #A59D8F;
}


.container:focus-visible .grid-main {
    --background-color: #00000099;
    --border-bottom-color: #00000099;
    --border-bright-color: #A59D8F;
    --border-dark-color: #A59D8F;

    text-decoration: underline;
}

.grid-main-corner{
    display: grid;
    grid-template-columns: var(--corner-width) var(--corner-width);
    grid-template-rows: var(--corner-width) var(--corner-width);
}

.grid-vertical-border {
    display: grid;
    grid-template-columns: var(--corner-width) var(--corner-width);
}
.grid-horizontal-border {
    display: grid;
    grid-template-rows: var(--corner-width) var(--corner-width);
}
.grid-bottom-corner {
    display: grid;
    grid-template-columns: var(--corner-width) var(--corner-width);
}

.border-bright-color {
    background: var(--border-bright-color);
}
.border-dark-color {
    background: var(--border-dark-color);
}
.background-color {
    background: var(--background-color);
}
.border-bottom-color {
    background: var(--border-bottom-color);
}


.content {
    padding: 10px 15px;
    background: var(--background-color);
    text-align: center;

    color: #d1d1d1;
}

.content:hover{
    color: #e8e8e8;
}

/* This is to override the onfocus specificity */
.style-active, .style-active.style-active.style-active.style-active {
    --background-color: #0E0D0CF2;
    --border-bottom-color: #18191A;
    --border-bright-color: #B49F81;
    --border-dark-color: #948064;
}